body {
    /*
    background-color: skyblue;
    background: url("../images/abidjan.jpg") no-repeat center center / cover;
    background: url("../images/drapeau-ci.png") no-repeat center center / cover;
    */
}
